extends layout

block content
  h1= title
  p Welcome to #{title}. Hero #1 is #{DotaButt().Heroes[1].LocalizedName}, hero #2 is #{DotaButt().Heroes[2].LocalizedName}, and so forth. There are #{DotaButt().Heroes.length.toString()} heroes in Dota 2 right now.
  p This data was all pulled from the Dota 2 API. That's pretty rad, right?
  p Yeah well eventually this site'll let you pull data from your games in and look at it or something, idk.
  p It's funny because butts are hilarious and it's like Dotabuff but the f's are upside-down and it spells "butt" and isn't that just a fantastic domain name in general.