extends layout

block content
	img.item-big(src='http://media.steampowered.com/apps/dota2/images/items/#{item.name}_lg.png', alt='#{item.localized_name}')
	h1 #{item.localized_name}
	if item.description
		p: em #{item.description}
	if item.duplicate
		p: a(href='/items/#{duplicate.slug}/') Duplicate of #{duplicate.localized_name}
	if item.bonuses
		h2 Bonuses
		ul
			each value,key in item.bonuses
				li #{key}: #{value}
		p &nbsp;
	if item.abilities
		h2 Abilities
		ul
			each ability in item.abilities
				h3 #{ability.name}
				if ability.type
					p: em Target: #{ability.type}
				if ability.affects
					p: em Affects: #{ability.affects}
				p #{ability.description}
				if ability.attributes
					ul
						each value,key in ability.attributes
							li #{key}: #{value}
				if ability.cooldown || ability.mana
					ul
						if ability.cooldown
							li Cooldown: #{ability.cooldown}
						if ability.mana
							li Mana: #{ability.mana}
				p &nbsp;