extends layout

block content
	h1= t('matches.title')
		if page != 1
			|  - page #{page}
	p= t('matches.description')
	if matches && matches.length > 0
		mixin prev_next
		mixin match_list(matches)
		mixin prev_next
	else
		p No matches!
	.centered #{total_matches} matches on file | #{moment(behind).fromNow(true)} behind

mixin prev_next
	if next || previous
		p.centered
			if previous
				a(href='/matches/page/#{previous}/') &lt; #{ t('matches.later') }
			if next
				if previous
					|  | 
				a(href='/matches/page/#{next}/') #{ t('matches.earlier') } &gt;