extends layout

mixin players_header(side)
	thead
		tr
			th(colspan=2) Player
			th(colspan=2) Hero
			th Level
			th: abbr(title='Kills') K
			th: abbr(title='Deaths') D
			th: abbr(title='Assists') A
			th Gold
			th: abbr(title='Last hits') LH
			th: abbr(title='Denies') DN
			th: abbr(title='Gold per minute') GPM
			th: abbr(title='XP per minute') XPM
			th Items

mixin player_block(player)
	tr
		if player.account_id == butt.anon
			td.playericon &nbsp;
			td.playername: em Anonymous
		else
			if player.summary
				td.playericon: a(href='/players/#{player.account_id}'): img(src='#{player.summary.avatar}')
				td.playername: a(href='/players/#{player.account_id}') #{player.summary.personaname}
			else
				td.playericon &nbsp;
				td.playername: em (Bot)
		td.heroicon
			mixin hero_image_small(heroes[player.hero_id])
		td.heroname= heroes[player.hero_id].localized_name
		td= player.level
		td= player.kills
		td= player.deaths
		td= player.assists
		td= player.gold
		td= player.last_hits
		td= player.denies
		td= player.gold_per_min
		td= player.xp_per_min
		td.items-small-2x3
			mixin item(player.item_0)
			mixin item(player.item_1)
			mixin item(player.item_2)
			mixin item(player.item_3)
			mixin item(player.item_4)
			mixin item(player.item_5)

mixin item(id)
	if items[id] != undefined
		a(href='/items/#{id}/', title='#{items[id].localized_name}'): img(src='http://media.steampowered.com/apps/dota2/images/items/#{items[id].name}_eg.png', alt='#{items[id].localized_name}')

block content
	if match
		table.fullwidth
			tbody
				tr
					td.matchinfo
						h1 Match #{match.match_id}
						if match.radiant_win
							p Radiant victory
						else
							p Dire victory
						p
							mixin format_duration(match)
						p: a(href='dota2://matchid=#{match.match_id}') Watch replay
					mixin towermap(match)
		h2
			if match.radiant_name
				| #{match.radiant_name}
			else
				| Radiant
		table.fullwidth.padded
			mixin players_header('Radiant')
			tbody
				for player in match.players
					if player.player_slot < 127
						mixin player_block(player)
		h2
			if match.dire_name
				| #{match.dire_name}
			else
				| Dire
		table.fullwidth.padded
			mixin players_header('Dire')
			tbody
				for player in match.players
					if player.player_slot > 127
						mixin player_block(player)
	else
		h1 Invalid match ID!