extends layout

mixin player_block(player)
	li
		if player.account_id == butt.anon
			| Anonymous
		else
			a(href='/players/#{player.account_id}') #{player.summary.personaname}
		|  (#{heroes[player.hero_id].localized_name}) had #{player.kills} kills,  #{player.deaths} deaths, and #{player.assists} assists

block content
	h1 Match #{match.match_id}
	if match.radiant_win
		p Radiant won!
	else
		p Dire won!
	
	h2 Radiant
	ul
		for player in match.players
			if player.player_slot < 127
				mixin player_block(player)
	
	h2 Dire
	ul
		for player in match.players
			if player.player_slot > 127
				mixin player_block(player)