extends layout

block content
	h1 Match #{match.match_id}
	if match.radiant_win
		p Radiant won!
	else
		p Dire won!
	
	h2 Radiant
	for player in match.players
		if player.player_slot < 127
			p
				if player.account_id == 4294967295
					| Anonymous
				else
					a(href='/players/#{player.account_id}') #{player.summary.personaname}
				|  (#{heroes[player.hero_id].localizedName}) had #{player.kills} kills,  #{player.deaths} deaths, and #{player.assists} assists
	
	h2 Dire
	for player in match.players
		if player.player_slot > 127
			p
				if player.account_id == 4294967295
					| Anonymous
				else
					a(href='/players/#{player.account_id}') #{player.summary.personaname}
				|  (#{heroes[player.hero_id].localizedName}) had #{player.kills} kills,  #{player.deaths} deaths, and #{player.assists} assists