extends layout

block content
	p Match #{match.match_id}
	if match.radiant_win
		p Radiant won!
	else
		p Dire won!
	
	h2 Players
	for player in match.players
		p #{player.account_id == 4294967295 ? 'Anonymous' : player.summary.personaname} (#{heroes[player.hero_id].LocalizedName}) had #{player.kills} kills,  #{player.deaths} deaths, and #{player.assists} assists