extends layout

block content
	img.player-big(src='#{player.avatarmedium}')
	h1 #{player.personaname}
	ul
		if player.verified
			li.verified #{verified.names[0]} - #{verified.description}
		if player.locstatecode || player.loccountrycode
			li
				if player.locstatecode
					=player.locstatecode
				if player.loccountrycode
					if player.locstatecode
						=', '
					=player.loccountrycode + ' '
					img(src='/images/flags/#{player.loccountrycode.toLowerCase()}.png')
		if player.timecreated
			li
				='Steam user since '
				=moment(player.timecreated.toString(), 'X').format('MMMM Do, YYYY')
		li: a(href='#{player.profileurl}') Steam Community page
		if player.matches && player.matches.length > 0
			li
				=(player.matches.count.toString() || 'no') + (player.matches && player.matches.length == 1 ? ' match' : ' matches') + ' on file'
	if player.matches && player.matches.length > 0
		h2 Recent matches
		if player.matches && player.matches.count > 10
			p.centered: a(href='/players/#{player.account_id}/matches/2/') #{t('matches.earlier')} &gt;
		if player.matches
			mixin match_list(player.matches, player)
			if player.matches.count > 10
				p.centered: a(href='/players/#{player.account_id}/matches/2/') #{t('matches.earlier')} &gt;