extends layout

block content
	img.player-big(src='#{player.avatarmedium}')
	h1 #{player.personaname}
	=(player.matches.count.toString() || 'no') + (player.matches && player.matches.length == 1 ? ' match' : ' matches') + ' on file'
	h2 Matches - Page #{page}
	mixin prev_next
	if player.matches && player.matches.length > 0
		if player.matches
			mixin match_list(player.matches, player)
	mixin prev_next

mixin prev_next
	if next || previous
		p.centered
			if previous
				a(href='/players/#{player.account_id}/matches/#{previous}') &lt; Later matches
			if next
				if previous
					|  | 
				a(href='/players/#{player.account_id}/matches/#{next}') Earlier matches &gt;