extends layout

block content
	h1 Search results - #{query}
	if results.count == 0
		p: em Nothing found!
	if results.matches
		h2 Matches
		ul
			each match in results.matches
				li: a(href='/matches/#{match.match_id}') Match #{match.match_id}
	if results.players
		h2 Players
		ul
			each player in results.players
				li
					a(href='/players/#{player.account_id}') #{player.personaname}
					if player._searchedBy
						=' (' + player._searchedBy + ')'
	if results.items
		h2 Items
		ul
			each item,id in results.items
				li
					a(href='/items/#{id}') #{item.localized_name}
					if item._searchedBy
						=' (' + item._searchedBy + ')'
	if results.heroes
		h2 Heroes
		ul
			each hero,id in results.heroes
				li
					a(href='/heroes/#{id}') #{hero.localized_name}
					if hero._searchedBy
						=' (' + hero._searchedBy + ')'