extends layout

block content
	h1 Stats
	h2.centered Matches
	table.width-100
		tr
			td.halign-right.padding-right.width-50=matches.count
			th matches in database
		tr
			td.halign-right.padding-right.width-50=matches.latest
			th is when the latest scraped match took place
		tr
			td.halign-right.padding-right.width-50=matches.behind
			th is about how far behind we are on scraping matches
		tr
			td.halign-right.padding-right.width-50=matches.size+'GB'
			th is about how much space the matches take up
	h2.centered Players
	table.width-100
		tr
			td.halign-right.padding-right.width-50=players.count
			th players in database
	h2.centered Teams
	table.width-100
		tr
			td.centered aren't even implemented yet lol
	h2.centered Misc.
	table.width-100
		tr
			td.halign-right.padding-right.width-50
				if steamapi.down
					| offline
				else
					| online
			th Steam API status
		tr
			td.halign-right.padding-right.width-50=moment(butt.startupTime).fromNow(true)
			th is how long it's been since our last restart