extends layout

block content
	h1 Stats
	h2.centered= t('stats.matches.title')
	table.width-100
		mixin statrow(matches.count, t('stats.matches.count'))
		mixin statrow(matches.latest, t('stats.matches.latest'))
		mixin statrow(matches.behind, t('stats.matches.behind'))
		mixin statrow(matches.size+'GB', t('stats.matches.size'))
	h2.centered= t('stats.players.title')
	table.width-100
		mixin statrow(players.count, t('stats.players.count'))
	h2.centered= t('stats.teams.title')
	table.width-100
		tr
			td.centered= t('stats.teams.placeholder')
	h2.centered= t('stats.misc')
	table.width-100
		tr
			td.halign-right.padding-right.width-50
				if steamapi.down
					= t('stats.api.offline')
				else
					= t('stats.api.online')
			th= t('stats.api.status')
		tr
			td.halign-right.padding-right.width-50=moment(butt.startupTime).fromNow(true)
			th= t('stats.since_restart')
		mixin statrow(players.global, t('stats.global_players'))

mixin statrow(stat, heading)
	tr
		td.halign-right.padding-right.width-50=stat
		th=heading